#new_page_content_block

- form_tag sort_cms_admin_page_content_blocks_path, :id => 'sort_form', :onsubmit => 'getPositionInputs();' do
  = submit_tag t('form_global.sort')
  = hidden_field_tag :page_id, @page.id
  %br 

- @page.page_content_blocks.each do |page_content_block|
  = render :partial => 'cms/content/page_content_block', :locals => {:page_content_block => page_content_block}